@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@font-face {
  font-family: "branch";
  src: url("../../server/public/fonts/Branch.ttf");
}

@font-face {
  font-family: "magilio";
  src: url("../../server/public/fonts/MagilioRegular-Yzv2O.ttf");
}

$black: #2f2c28;
$grey: #38353092;
$brown: #8b4513;
$orange: #cd853f;
$bright: #d3d3d3;
$green: #2e8b57;
$text-black: $black;

$white: #ffffff;

$shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0px;

$font-body: 'Source Serif Pro', sans-serif;
$font-header: 'branch';
