@use '../styles/theme';

html, 
body {
  font-family: theme.$font-body;
  margin: auto;
  color: theme.$text-black;
}

a:link {
  color: theme.$black;
  text-decoration: none;
}

a:visited {
  color: theme.$black;
}

a:hover {
  opacity: 0.7;
  transform: translateY(-2px); transition-duration: 700ms;
  // transform: scale3d(0.8, 1, 1); transition-duration: 700ms;
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  border: 4px solid theme.$bright; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 75%;
  text-align: center;
  margin: auto;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: theme.$font-body;
}

::placeholder {
  font-family: theme.$font-body;
}

label {
  padding: 12px;
  display: inline-block;
}

button {
  border-radius: 10px;
  position: relative;
  background-color: theme.$bright;
  border: 1px solid theme.$black;
  cursor:pointer;
  align-items: center;
  // font-family: theme.$font-header;
  font-family: theme.$font-body;
  font-size: 16px;
  font-weight: 1500;
  line-height: 20px;
  padding: 5px;
  margin: 10px;
  width: 8rem;
  height: 2.5rem;
}

select {
  font-family: theme.$font-body; 
}

ul{
  display:inline-block
}

li{
  list-style-type: none;
  text-decoration: none;
}

.pageWrapper {
  margin: 3vw;
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  justify-content: space-between;
}

