@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.pageWrapper {
  margin: 3vw;
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  justify-content: space-between;
}

.fa {
  color: white;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.7;
}