@use '../styles/theme';

body {
  background-color: theme.$brown;
  color: white;
  margin-bottom: 0;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  // color: rgb(150, 145, 140)
}