@use '../styles/theme';

body {
  background-color: theme.$white;
  color: black;
  margin-bottom: 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  // color: rgb(150, 145, 140)
}

a:hover {
  opacity: 0.7;
}