@use '../styles/theme';

.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  gap: 8px; 
  padding: 0.4rem 0.4rem;
  // padding: 1rem 1rem 24px; 
  background-color: theme.$bright;
  color: theme.$black;
  font-family: theme.$font-header;
  font-size: 1.2rem; 
  font-weight: bolder; 
  white-space: nowrap;  
  margin-right: 3rem;
  margin-left: 3rem;
}

.title { 
  font-size: 2rem;
  // color: white; 
  margin-left: 2vw;
}

.links {
  display: flex; justify-content: space-around; gap: 48px;
  margin-left: 48px;
  margin-right: 2vw;
  font-size: 1.7rem;
}

.links a {
  text-decoration: none;
  // color: white
}

.auth {
  // color: white; 
  position: relative;
  // position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  margin-left: 0;
  margin-right: 2vw;
  margin-top: 10px;
  // padding-right: 24px;
}

.logo {
  margin-left: 2rem;
  margin-top: 1.5rem;
  padding: 0; 
  transition-duration: 1000ms;
}

.logo:hover {
  transform: translateY(-5px); 
  transition-duration: 500ms;
}