@use '../styles/theme';

.container {
  display: flex;
  flex-wrap: wrap;
}

.map, .right {
  flex: 1;
  margin: 10px;
  h1 {
    font-family: theme.$font-header;
    font-size:42px;
    color: theme.$brown;
  }
}

.detail {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid theme.$orange;
  border-radius: 4px;
    h2 {
      font-family: theme.$font-header;
    }
}

.right {
  margin-right: 4vw;
}

.map {
  margin-left: 4vw;
  margin-right: 4vw;
  min-width: 290px;
  max-width:500px;
}
.search {
  color:theme.$orange;
  // border-color: theme.$black;
}
