@use '../styles/theme';

.branchLogo {
  font-family: theme.$font-header;
  font-size: 5rem;
  margin: 0;
}

.branchSub {
  color: theme.$black;
  font-size: 1.4rem;
  font-weight: 500;
}

.branchFont:hover {
  opacity: 0.9;
  transform: translateY(-5px); transition-duration: 500ms;
  text-shadow: 5px 5px rgb(190, 190, 190);
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.photo {
width: 300px;
height: auto;
}

