@use '../styles/theme';

.heading {
  font-family: theme.$font-header;
  font-size: 2.8rem;
  text-align: center;
  margin: 0;
}

.locationName {
  text-align: center;
  font-family: theme.$font-header;
  font-size: 2rem;
}

.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.beanItem {
  // border: solid;
  // border-width: 1px;
  // border-color: antiquewhite;
  color: antiquewhite;
  margin: 1rem;
  width: 15rem;
  height: 17rem;
}

.roasterImg {
  width: 13rem;
  height: auto;
  border-radius: 50%; 
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden;
  border-radius: 50%; 
  background-color: white;
  
} 
  

.roastersRow{
  display: flexbox;
  background-color: blue;
}

.flexcontainer {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


a {
    text-decoration: none;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center
    // overflow-x: scroll;
}

.cardList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.cardList::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 0px 2px 2px hsla(0,0%,100%,.25), inset -0px -2px 2px rgba(0,0,0,.25);
}

.cardList::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 280px;
    width: 180px;
    min-width: 180px;
    padding: 1.5rem;
    border-radius: 16px;
    background: rgb(47,44,40);
    border: 1px solid hsl(32, 19%, 62%);
    background: linear-gradient(135deg, rgb(223, 210, 195) 20%, hsla(32, 25%, 68%, 1) 100%);
    box-shadow: -1rem 0 1.5rem rgba(0, 0, 0, 0.161);
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    margin-top: -50px;
    margin: 3px;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1.5rem);

}

.card:not(:first-child) {
    margin-left: -230px;
}


.cardHeader {
    margin-bottom: auto;
}

.cardHeader p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: theme.$green;
}

.cardHeader h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}
.cleanH2 {
  height: 3.5em;
  text-align: center;
}
.cardHeader h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}

.cardAuthor {
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 75px 1fr;
    // align-items: center;
    position: relative;
}

.authorAvatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.authorAvatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 8px 10px;
}

.authorAvatar img:hover{
  filter: grayscale(0%);
}

.authorAvatar a {
  opacity: 1;
}


.authorName {
    grid-area: auto;
    box-sizing: border-box;
}

.authorNamePrefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.halfCircle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    text-align: center;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.roastersBackground {
  background-image:url("/server/public/img/noise.svg");
  //  background-image: url("/server/public/img/roasters-bg.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

h3 {
  color: theme.$green;
  margin-bottom: -3px;
}




  // .container {
  //   max-width: 100vw;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //   grid-gap: 35px;
  //   margin: 0 auto;
  //   padding: 40px 0;

  //   .card {
  //     position: relative;
  //     width: 200px;
  //     height: 200px;
  //     margin: 0 auto;
  //     background: rgba(109, 62, 37, 0.434);
  //     color: theme.$white;
  //     border-radius: 15px;
  //     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  //     .face {
  //       position: absolute;
  //       bottom: 0;
  //       left: 0;
  //       width: 100%;
  //       height: 100%;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;

  //       &.face1 {
  //         box-sizing: border-box;
  //         padding: 20px;

  //         h2 {
  //           margin: 0;
  //           padding: 0;
  //         }

  //         .java {
  //           background-color: #fffc00;
  //           -webkit-background-clip: text;
  //           -webkit-text-fill-color: transparent;
  //         }

  //         .python {
  //           background-color: #00fffc;
  //           -webkit-background-clip: text;
  //           -webkit-text-fill-color: transparent;
  //         }

  //         .cSharp {
  //           background-color: #fc00ff;
  //           -webkit-background-clip: text;
  //           -webkit-text-fill-color: transparent;
  //         }
  //       }

  //       &.face2 {
  //         transition: 0.5s;

  //         h2 {
  //           margin: 0;
  //           padding: 0;
  //           font-size: 10em;
  //           color: #fff;
  //           transition: 0.5s;
  //           text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  //           z-index: 10;
  //         }
  //       }
  //     }
  //   }

  //   .card:hover .face.face2 {
  //     height: 60px;

  //     h2 {
  //       font-size: 2em;
  //     }
  //   }

  //   .card:nth-child(1) .face.face2 {
  //     background-image: linear-gradient(
  //       40deg,
  //       #fffc00 0%,
  //       #fc00ff 45%,
  //       #00fffc 100%
  //     );
  //     border-radius: 15px;
  //   }

  //   .card:nth-child(2) .face.face2 {
  //     background-image: linear-gradient(
  //       40deg,
  //       #fc00ff 0%,
  //       #00fffc 45%,
  //       #fffc00 100%
  //     );
  //     border-radius: 15px;
  //   }

  //   .card:nth-child(3) .face.face2 {
  //     background-image: linear-gradient(
  //       40deg,
  //       #00fffc 0%,
  //       #fc00ff 45%,
  //       #fffc00 100%
  //     );
  //     border-radius: 15px;
  //   }
  // }

